h1 {
  border: 6px double royalblue;
  padding-right: 30px;
}
p {
  padding: 15px 20px;
  border: 6px solid darksalmon;
  width: 1000px;
}
img {
  width: 563px;
  height: 316px;
  padding: 5px;
}
body {
  background-color: rgb(240, 240, 240);
}
img {
  border: 3px double slategrey;
  margin-top: 5px;
  opacity: 0.9;
}
