@import "variables";

.nav {
  background-color: $olive;
  .burger {
    background-color: $olive;
    border-color: $lgreen;
    i {
      color: $lgreen;
    }
  }
  .nav-items {
    background-color: $olive;
    .close i {
      color: $lgreen;
    }
    .item {
      &.active a {
        color: $lgreen;
      }
      a {
        color: white;
        font-family: $pfont;
      }
    }
  }
}

/*
@media only screen and (min-width: 436px) {

}

@media only screen and (min-width: 620px) {

}

@media only screen and (min-width: 768px) {
  .nav {
    background-color: transparent;
    .nav-items {
      background-color: transparent;
      }
    }
  }

@media only screen and (min-width: 1024px) {

}
*/
