<<<<<<< HEAD
ul {
  background-color: olive;
}
li a {
  color: forestgreen;
=======
.nav {
  background-color: #798e55;
}
.nav .burger {
  background-color: #798e55;
  border-color: #d0e4d2;
}
.nav .burger i {
  color: #d0e4d2;
}
.nav .nav-items {
  background-color: #798e55;
}
.nav .nav-items .close i {
  color: #d0e4d2;
}
.nav .nav-items .item.active a {
  color: #d0e4d2;
}
.nav .nav-items .item a {
  color: white;
  font-family: "PT Sans", sans-serif;
}

@media only screen and (min-width: 768px) {
  .nav {
    background-color: transparent;
  }
  .nav .nav-items {
    background-color: transparent;
  }
>>>>>>> 5207991dc1b51777e0b69f990756f142c03ddf8b
}
